<div class="ui menu nav">
    <!-- <div class="header item" style="width: fit-content; font-size: larger; color: rgb(7, 0, 0);">SocialNet</div> -->
    {% if request.user.is_authenticated %}
        <a class="header item" href="{% url 'posts' %}" style="width: fit-content; font-size: larger;">SocialNet</a>
        <a class="disabled item">Hi {{request.user}}!</a>
        <a class="item" href="{% url 'home' request.user.pk %}">
            <i class="home icon"></i>
            Home
        </a>
        <a href="{% url 'chat' %}" class="item">
            <i class="comments outline icon"></i>
            Chat
        </a>
        <div class="menu">
            <div class="ui dropdown item">
              More <i class="dropdown icon"></i>
              <div class="menu">
                <a href="{% url 'appusers' %}" class="item"><i class="user icon"></i>
                    Appusers</a>
                <a href="{% url 'requests' %}" class="item"><i class="user plus icon"></i>
                    Requests</a>
                <a href="{% url 'account_logout' %}" class="item"><i class="sign out icon"></i>
                    Sign out</a>
              </div>
            </div>
        
        </div>
        
    {% else %}
        <a class="header item" href="{% url 'index' %}" style="width: fit-content; font-size: larger;">SocialNet</a>
    {% endif %}

    
    {% if request.user.is_authenticated %}
   
        <div class="right menu" style="padding: 4px;">
            <div class="ui action left icon input">
                <form method="GET" action="{% url 'appuser-search' %}">
                    <input type="text" name="query" value="{{request.get.query}}" placeholder="username">
                    <button type="submit" class="ui basic button">Search</button>
                </form>
            </div>
         </div>
   
    {% else %}
        <div class="right menu">
            <div class="ui action left icon input" style="width: 320px;">
                <i class="search icon"></i>
                <input type="text" placeholder="Login to search for your friends!">
                <button class="ui basic button">Search</button>
            </div>
        </div>
    {% endif %}
</div>
  