{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="ui center aligned raised black container segment" style="width: 500px; height: auto; padding: 30px; margin-top: 10%;">
  <h1>{% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <form class="ui form" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="ui large black button" type="submit">{% trans 'Sign Out' %}</button>
  </form>
</div>

{% endblock %}
