{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="ui raised green container segment" style="width: 500px; height: auto; padding: 30px; margin-top: 8%;">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <div class="ui container">
      <div class="col-md-6 col-sm-12">
        <form class="ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid gap-2">
            <button class="fluid ui green basic button" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </div>
        </form>
      </div>
    </div>
</div>



{% endblock %}
